<footer>
        <p> 
            <a href="../index.html">Personal Page</a> |
            <a href="https://github.com/RedbeardNJH">GitHub.com</a> | 
            <a href="https://redbeardnjh.github.io/">GitHub.io</a> |
            <a href="https://redbeardnjh.github.io/itis3135/index.html">Course.io</a> |
            <a href="https://www.freecodecamp.org/redbeardnjh">FreeCodeCamp</a> | 
            <a href="https://www.codecademy.com/profiles/RedbeardNJH">Code Acadamy</a> |  
            <a href="https://www.linkedin.com/in/noah-j-harden-0788a1296/">LinkedIn</a></p>
            <p>Designed by <a href="hardensoftware.com/index.html">Harden Software</a>
            &copy;2025</p>
    </footer>