<header>
    <h1>Noah J Harden's Nocturnal Hamster | ITIS 3135</h1>
    <p>
        <a href="../itis3135/index.html">Homepage</a> || 
        <a href="../itis3135/introduction.html">Introduction</a> ||
        <a href="../itis3135/contract.html">Contract</a> ||
        <a href="../itis3135/website_evaluations.html">Website Evaluations</a> ||
        <a href="../itis3135/fccfsjs_outline.html">FCC JS Outline</a> ||
        <a href="../itis3135/intro_form.html">Introduction Form</a> ||
        <a href="../itis3135/client_project.html">Client Project Outline</a>
    </p>
</header>